.footer {
  margin-top: 20px;
}
.btn-continue {
  width: 250px;
  background-color: #9747b7 !important;
}
.body {
  font-size: 0.5rem;
  line-height: 1.6;
}
.img {
  size: 50px;
}
.icon {
  position: relative;
  top: 5px;
  left: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 10px;
  }
}
